
<div class="text-wrapper">
<h1>Thanks for joining the family {{fName}} {{lName}}!</h1>
<h3>Feel free to explore and personalize our <a href="/mealPackages">packages</a> to match your meal needs</h3>
</div>