<div class="form-wrapper">
<form id="login-form" method = "POST" action = "/login" class="main-form"> 
            
    <fieldset>
        <legend><h2>Customer Login</h2></legend>

        <label id="emailLabel" for="email"><h3>Email Address:</h3></label>
        <input name = "email" type="email" value={{emailValue}}>
        <p class="error-message">{{emailError}}</p>

        <label id="passwordLabel" for="password"><h3>Password:</h3></label>
        <input type="password" name = "password" value={{pswdValue}}>
        <p class="error-message">{{pswdError}}</p>
            
        <input type = "submit" value = "Log in">
    </fieldset>
             
</form> 
</div>